{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<h2>Listado de Posts </h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for post in posts %}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{post.foto}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{post.titulo}}</h5>
                        <p class="card-text">{{post.contenido}}</p>
                       
                    </div>
                </div>
{% endfor %}
            </div>
{% endblock %}

